body {
  background-color: rgb(22, 51, 216);
  color: white;
}

h1 {
  font-size: 5mm;
  text-align: center;
}

h3 {
  font-size: 3.3mm;
  text-align: center;
}

section {
  background-color: rgb(19, 223, 145);
  width: max-content;
  margin: auto; 
}

Section img {
  width: 225px;
  margin: 40px;
}
img:hover{
  cursor: pointer;
}

ul {
  padding: 2.5px;
  width:auto;
  text-align: center;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

div {
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
}